
.vs/Advanced2/v16/.suo

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/VSWorkspaceState.json

Advanced2/Advanced2.csproj.user

Advanced2/Content/obj/DesktopGL/Content/.mgcontent

Advanced2/Content/obj/DesktopGL/Content/MikuLeek.mgcontent

Advanced2/obj/Advanced2.csproj.nuget.dgspec.json

Advanced2/obj/Advanced2.csproj.nuget.g.props

Advanced2/obj/Debug/netcoreapp3.1/Advanced2.assets.cache

Advanced2/obj/Debug/netcoreapp3.1/Advanced2.csproj.AssemblyReference.cache

Advanced2/obj/Debug/netcoreapp3.1/Advanced2.GeneratedMSBuildEditorConfig.editorconfig

Advanced2/obj/project.assets.json

Advanced2/obj/project.nuget.cache

Advanced2/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs

Advanced2/obj/Release/netcoreapp3.1/Advanced2.AssemblyInfo.cs

Advanced2/obj/Release/netcoreapp3.1/Advanced2.AssemblyInfoInputs.cache

Advanced2/obj/Release/netcoreapp3.1/Advanced2.assets.cache

Advanced2/obj/Release/netcoreapp3.1/Advanced2.csproj.AssemblyReference.cache

Advanced2/obj/Release/netcoreapp3.1/Advanced2.GeneratedMSBuildEditorConfig.editorconfig

.vs/Advanced2/DesignTimeBuild/.dtbcache.v2

Advanced2/bin/Debug/netcoreapp3.1/Advanced2.dll

Advanced2/bin/Debug/netcoreapp3.1/Advanced2.exe

Advanced2/bin/Debug/netcoreapp3.1/Advanced2.pdb

Advanced2/bin/Debug/netcoreapp3.1/Advanced2.runtimeconfig.dev.json

Advanced2/obj/Debug/netcoreapp3.1/Advanced2.csproj.CoreCompileInputs.cache

Advanced2/obj/Debug/netcoreapp3.1/Advanced2.csproj.FileListAbsolute.txt

Advanced2/obj/Debug/netcoreapp3.1/Advanced2.dll

Advanced2/obj/Debug/netcoreapp3.1/Advanced2.genruntimeconfig.cache

Advanced2/obj/Debug/netcoreapp3.1/Advanced2.pdb

Advanced2/obj/Debug/netcoreapp3.1/apphost.exe
